/* Reset CSS Style  */
body{
    font-family: 'Poppins', sans-serif ;
}
h1,h2,h3,h4,h5,h6{
    font-weight: 600;
}
p{
    font-weight: 400;
    font-size: 12px;
}

/* Common style CSS  */
.buy_now_btn{
    background-color: #222;
    color: #ffff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;

}
.buy_now_btn:hover{
    background: linear-gradient(45deg, #FFB32F 0%, #FFD11F 100%);
    color: #222;
    transition: all .3s ease;
}
.section_padding{
    padding-top: 100px; 
}

/* Header CSS style  */
.logo{
    width: 145px;
}

/* Slider CSS style  */
.slider_area .carousel-item{
    margin-bottom: 50px;
}

.carousel-indicators li{
    background-color: #ddd;
    height: 10px;
    width: 15px;
}
.carousel-indicators .active{
    background-image: linear-gradient(45deg, #FFB32F 0%, #FFD11F 100%);
    height: 10px;
    width: 35px;
}
.carousel-control-prev, .carousel-control-next{
    display: none;
}

/* Products CSS style  */
.section_title{
    margin-bottom: 40px;
}
.section_title h2{
    font-size: 26px;
}
.section_title a{
    color: #ffb32f;
}
.card{
    border: none;
    box-shadow: 1px 1px 12px 0px #ddd;
    border-radius: 10px
}
.card:hover{
    box-shadow: 1px 1px 14px 0px #ccc;
    transition: all .3s ease;
}
.card img{
    padding: 30px;
}

/* categories CSS style  */
.categories_area{
    padding-bottom: 80px;
}
.categories_area .section_title{
    position: relative;
    margin-bottom: 100px;
}
.categories_area .section_title h2::before{
    position: absolute;
    content: "";
    height: 7px;
    width: 110px;
    background-image: linear-gradient(45deg, #FFB32F 0%, #FFD11F 100%);
    top: 40px;
    border-radius: 10px;
    margin: 0 auto;
    left: 50%;
    margin-left: -55px;
}
.cat_img_bag, .cat_img_perfume, .cat_img_shoe{
    background: #fff;
    box-shadow: 1px 1px 12px 0px #ddd;
    padding: 45px;

}

.cat_img_bag{
    margin-top: 120px;
    border-radius: 0px 20px 0px 20px;
}
.cat_img_bag h5{
    padding-top: 15px;
}

.cat_img_perfume{
    margin-bottom: 40px;
    border-radius: 20px 0px 20px 0px;
}
.cat_img_shoe{
    border-radius: 20px 0px 20px 0px;
}
.right_img{
    width: 100%;
}

/* Subscribe CSS style  */
.subscribe_area{
    background-image: linear-gradient(45deg, #FFB32F 0%, #FFD11F 100%);
    padding-bottom: 80px;
}
.subscribe_area .input-group{
    background: #ffffff;
    border-radius: 50px;
    border: 2px solid #222;
}
.input-group input{
    border-radius: 50px;
    padding: 30px 30px;
}
.input-group span button{
    padding: 17px 30px;
    background: #222;
    border-radius: 50px;
    color: #FFB32F;
}
.input-group span button:hover{
    color: #fff;
}
.input-group>.form-control{
    border: none;
}
.input-group>.form-control:focus{
    box-shadow: none;
}

/* Footer CSS style  */
.footer p{
    margin: 0;
    line-height: 50px;
    font-size: 14px;
    font-weight: 600;
    background: #222;
    color: #fff;
}
.footer p span{
    color: #FFB32F;
}
